<!-- content.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="../../static/css/objects/round_buttons.css">
    <link rel="stylesheet" href="../../static/css/widgets/heart_rate_widget.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.0/socket.io.js" integrity="sha512-OovVc8Xk/+ils70VE978+ILm2IvIisZskNCaDvaTtXt7a2O3eioYv8SVKfjdVU1za9Ir/KHIqweNEGLLFk6bdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Control Widget</title>
</head>
<body>
    <div class="heart-rate-row">
        <input type="checkbox" id="toggle-sensor-list" class="toggle-checkbox"/>
          <div class="overview-wrapper">

            <div class="extended-info">
                <label class="label-sensor-name">Hello</label>
                <label class="battery-container">
                  <i class="ph-bold ph-bluetooth-slash bt-not-connected"></i>
                  <i class="ph-bold ph-bluetooth-connected bt-connected"></i>
              </label>
            </div>

            <label class="heart-rate-container" for="toggle-sensor-list">
              <i class="ph-fill ph-heart icon-heart-rate"></i>
              <label class="label-heart-rate">---</label>
              <label class="bluetooth-container">
                  <i class="ph-bold ph-bluetooth-slash bt-not-connected"></i>
                  <i class="ph-bold ph-bluetooth-connected bt-connected"></i>
              </label>
            </label>



          </div>

          <div class="chart-wrapper">
            <canvas id="heartRateChart"></canvas>
          </div>

          <!-- <div id="chart"></div> -->
        </div>
    </div>
    <script src="../../static/js/heart_rate_widget.js"></script>
</body>
</html>
