<!-- content.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="../../static/css/widgets/settings.css">
    <link rel="stylesheet" href="../../static/css/objects/round_buttons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.0/socket.io.js" integrity="sha512-OovVc8Xk/+ils70VE978+ILm2IvIisZskNCaDvaTtXt7a2O3eioYv8SVKfjdVU1za9Ir/KHIqweNEGLLFk6bdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Control Widget</title>
</head>
<body>



      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>


  <div class="settings-group">

    <div class="setting-line">
      <label class="setting-label">Email</label>
      <input class="setting-element" type="email" placeholder="e.g. alex@example.com" />
    </div>
  
    <div class="setting-line">
      <label class="setting-label">Password</label>
      <input class="setting-element" type="password" placeholder="********" />
    </div>
  

    <div class="setting-line">
      <label class="setting-label">Helllooo</label>
      <select class="setting-element">
        <option>Option 1</option>
        <option>Option 2</option>
      </select>
    </div>


    <button class="round-button" id="button-setting-import">
      <i class="ph-bold ph-upload-simple"></i>
    </button>

    <button class="round-button" id="button-setting-add">
      <i class="ph-bold ph-plus"></i>
    </button>

  </div>



</body>
</html>
