.round-label {
	font-size: 1.5rem;
	border-radius: 99em;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	flex-basis: auto;
	flex-grow: 1; /* Allows buttons to grow and shrink */
    flex-shrink: 2; /* Allows shrinking when container gets smaller */
    min-width: 20px; /* Set a minimum width to avoid buttons getting too small */
    max-width: 100px; /* Set a maximum width to avoid buttons growing too large */
	cursor: pointer;
    aspect-ratio: 1;
	color: var(--color-text-primary);
	transition: color 0.15s ease, width 0.25s ease-out;
	position: relative;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border);
	box-shadow: 0 4px 8px 0 rgba(0 0 0 / var(--shadow-alpha));
}