@import url("toggle.css");
@import url("../color_palette.css");



.round-button {
	font-size: var(--base-font-size);
	border-radius: 99em;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	flex: 1 1 auto;
    flex-shrink: 2; /* Allows shrinking when container gets smaller */
    min-width: 20px; /* Set a minimum width to avoid buttons getting too small */
    max-width: 100px; /* Set a maximum width to avoid buttons growing too large */
	cursor: pointer;
    aspect-ratio: 1;
	color: var(--color-text-primary);
	transition: color 0.15s ease, width 0.25s ease-out;
	position: relative;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border);
	box-shadow: 0 4px 8px 0 rgba(0 0 0 / var(--shadow-alpha));
}

.round-button:hover {
	color: var(--color-text-secondary);
}

.round-button:active {
	color: var(--color-accent);
}

.round-button-toggle:after {
	content: "";
	display: block;
	width: 105%;
	height: 105%;
	z-index: -1;
	left: -2.5%;
	top: -2.5%;
	position: absolute;
	background-image: conic-gradient(transparent, var(--spinner));
	border-radius: 99em;
	opacity: 0;
}

.round-button-toggle .icon-active,
.round-button-toggle .icon-not-active {
	grid-row-start: 1;
	grid-column-start: 1;
	transition: opacity 0.15s ease, transform 0.25s ease;
}

.round-button-toggle .icon-not-active {
	opacity: 1;
}

.round-button-toggle .icon-active {
	opacity: 0;
	transform: rotate(0);
}

.toggle-checkbox:checked + .round-button-toggle .icon-not-active{
	opacity: 0;
	transform: rotate(180deg);
}

.toggle-checkbox:checked + .round-button-toggle .icon-active {
	opacity: 1;
	transform: rotate(180deg);
}

.toggle-checkbox:checked + .round-button-toggle {
	color: var(--color-accent);
}

.toggle-checkbox:checked + .round-button-toggle:after {
	opacity: 1;
	animation: spin 2s linear infinite;
}


@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
