@import url("../color_palette.css");

.settings-group 
{
    width:100%;
    height: fit-content;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-border);
    border-radius: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0 0 0 / var(--shadow-alpha));
    transition:display 0.5s ease,  background-color 0.5s ease, width 0.5s ease, border-radius 1s ease-in-out, height 0.5s ease, position 0.5s ease, opacity 0.5s ease, height 0.5s ease; /* Transition width smoothly */
}

.setting-line {
    flex: 1 1 0;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    flex-direction: row;
    color: var(--color-text-primary);
    
}

.setting-label {
    font-size: 1em;
    padding-left: 10px;
}

.setting-element {
    display:flex;
    font-size: 1em;;
	background-color: var(--color-background-third);
	border: 1px solid var(--color-border);
    border-radius: 90em;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 / var(--shadow-alpha));
    color: var(--color-text-primary);
}

#button-setting-import {
    height: 40px;
}

#button-setting-add {
    height: 40px;
}