:root {
    --black: #0A131F;
    --white: #ebebeb;
    --lightblue: #99C4EA;
    --midblue: #6085A9;
    --darkblue: #253C55;
    --darkdarkblue: #151828;
    --lightgray: #A1A9BA;
    --midgray: #727E97; /*727E97   A1A9BA */
    --darkgray: #2E2F38;
}
