@import url("color_palette.css");

:root {
  --toggle-aspect-ratio: 2.25;
}

.toggle-switch {
    width: 0;
    height:0;
    visibility: hidden;
  }


.toggle-switch-label {
  aspect-ratio: var(--toggle-aspect-ratio);
  position: relative;
  display: block;
  background: var(--white);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
}

.toggle-switch-label:after {
  content: "";
  height: 90%;
  width:calc(90%/var(--toggle-aspect-ratio));
  position: absolute;
  top: 5%;
  left: calc(10%/var(--toggle-aspect-ratio));
  background: linear-gradient(180deg, var(--midblue), var(--darkblue));
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.toggle-switch:checked + .toggle-switch-label:after {
  left: calc(100% - 10%/var(--toggle-aspect-ratio));
  transform: translateX(-100%);
  background: linear-gradient(180deg, var(--midgray), var(--darkgray));
}

.toggle-switch-label:hover:after{
  width: 50%;
}

.toggle-switch-label .ph-map-pin-area,
.toggle-switch-label .ph-faders
{
  position: absolute;
  z-index:100;
  font-size: clamp(0.75rem, 3vw, 2.25rem);; /* Set the size of the icon */
  width: auto;     /* Optional, auto-adjust width */
  height: auto;    /* Optional, auto-adjust height */
}

.toggle-switch-label .ph-faders  {
  transform: translateX(50%) translateY(-50%);
  right: calc((10% + 45%)/var(--toggle-aspect-ratio));
  top: 50%;
  color: var(--black);
  transition: 0.3s;
}

.toggle-switch:checked + .toggle-switch-label .ph-faders {
  transform: translateX(50%) translateY(-50%);
  right: calc((10% + 45%)/var(--toggle-aspect-ratio));
  top: 50%;
  color: var(--white);
  transition: 0.3s;
}

.toggle-switch-label .ph-map-pin-area {
  transform: translateY(-50%) translateX(-50%);
  left: calc((10% + 45%)/var(--toggle-aspect-ratio));
  top: 50%;
  color: var(--white);
  transition: 0.3s;
}

.toggle-switch:checked + .toggle-switch-label .ph-map-pin-area {
  transform: translateY(-50%) translateX(-50%);
  left: calc((10% + 45%)/var(--toggle-aspect-ratio));
  top: 50%;
  color: var(--black);
  transition: 0.3s;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }